@page "{id}"
@using Constants
@using Data.Models
@model AbstractSyntaxTreesModel
@{
}


@section Navbar
    {
    <partial name="_CourseClassNavbarPartial" model="@Model.Assignment.CourseClassId" />
    <partial name="_AssignmentNavbarPartial" model="@Model.Id" />
}

<div class="container mb-5">
    <div class="mx-auto text-center">
        <h1 class="font-weight-bold display-4">
            Abstract Syntax Tree Metrics
        </h1>
        <ul class="list-inline">
            <li class="list-inline-item">@Model.Assignment.Name</li>
            <li class="list-inline-item">
                -
            </li>
            <li class="list-inline-item">
                @Model.Assignment.CourseClass.Name
            </li>
        </ul>
        <p class="lead">
            Below is stats on how the comparision of students method to the solution.
        </p>
        <div class="btn-group">
            <a asp-page="/Analysis/Index"
               asp-route-id="@Model.Id"
               class="text-white btn btn-primary" role="button">
                Analysis List
            </a>
            <a asp-page="/Assignments/Details" asp-route-id="@Model.Id"
               class="text-white btn btn-primary" role="button">
                Details
            </a>
        </div>
    </div>
</div>

@if (Model.LatestSnapshots.Count > 0)
{
    <div class="container bg-light my-3 pt-3 pb-5 shadow-sm">
        <div class="mx-auto text-center">
            <h2 class="display-4">
                Abstract Syntax Tree Metrics
            </h2>
            <p class="lead">
                Below is metrics for each method.
            </p>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">
                        Method
                    </th>
                    <th rowspan="2" class="text-center">
                        Number of Declared
                    </th>
                    <th class="text-center text-success" colspan="3">
                        Least
                    </th>
                    <th class="text-center text-primary" colspan="3">
                        Average
                    </th>
                    <th class="text-center text-danger" colspan="3">
                        Most
                    </th>
                </tr>
                <tr>
                    <th class="text-center text-success">
                        Insertations
                    </th>
                    <th class="text-center text-primary">
                        Rotations
                    </th>
                    <th class="text-center text-danger">
                        Deletions
                    </th>
                    <th class="text-center text-success">
                        Insertations
                    </th>
                    <th class="text-center text-primary">
                        Rotations
                    </th>
                    <th class="text-center text-danger">
                        Deletions
                    </th>
                    <th class="text-center text-success">
                        Insertations
                    </th>
                    <th class="text-center text-primary">
                        Rotations
                    </th>
                    <th class="text-center text-danger">
                        Deletions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var method in Model.Assignment.Solution.MethodDeclarations)
                {
                    <tr>
                        <td class="text-lowercase text-center">
                            @method.PreprocessorDirective
                        </td>
                        @{
                            var count = Model.LatestSnapshots.Count(x => Model.GetSnapshotMethod(x, method).Declared);
                            var least = Model.GetLeastCodeAnalysisMetricOrDefault(Model.LatestSnapshots, method);
                            var average = Model.GetAverageCodeAnalysisMetricOrDefault(Model.LatestSnapshots, method);
                            var most = Model.GetMostCodeAnalysisMetricOrDefault(Model.LatestSnapshots, method);
                        }
                        <td class="text-center">
                            @count
                        </td>
                        @if (count == 0)
                        {
                            <td colspan="9" class="text-center">
                                None declared.
                            </td>
                        }
                        else
                        {
                            <td class="text-center text-success">@least.Insertations</td>
                            <td class="text-center text-primary">@least.Rotations</td>
                            <td class="text-center text-danger">@least.Deletions</td>
                            <td class="text-center text-success">@average.Insertations</td>
                            <td class="text-center text-primary">@average.Rotations</td>
                            <td class="text-center text-danger">@average.Deletions</td>
                            <td class="text-center text-success">@most.Insertations</td>
                            <td class="text-center text-primary">@most.Rotations</td>
                            <td class="text-center text-danger">@most.Deletions</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container bg-light my-3 pt-3 pb-5 shadow-sm px-5">
        <h4 class="display-4">
            Students
        </h4>
        <p class="lead">
            View abstract syntax tree for individual students
        </p>
        <form method="post">
            <div class="form-group">
                <div class="input-group">
                    <select class="custom-select" name="studentId" asp-items="ViewBag.Students"></select>
                    <div class="input-group-append">
                        <button class="btn btn-primary">Select</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <div class="container bg-light my-3 pt-3 pb-5 shadow-sm px-5">
        <div class="mx-auto text-center">
            <h2 class="display-4">
                No Successful Snapshots
            </h2>
            <p class="lead">
                Your students need help!
            </p>
        </div>
    </div>
}