@page "{id}/{step?}"
@model DetailsModel
@{
}

@section Navbar {
    <partial name="_CourseClassNavbarPartial" model="@Model.Id" />
}

<div class="container">
    <div class="mx-auto text-center">
        <h1 class="font-weight-bold display-4">
            @Model.CourseClass.Name
        </h1>
        <p class="lead">
            @Model.CourseClass.Term
        </p>
        <p class="lead">
            @Model.CourseClass.Course
        </p>
        <div class="btn-group">
            <a class="btn btn-primary text-light"
               asp-page="/CourseClasses/Students"
               asp-route-id="@Model.Id"
               role="button">
                Students
            </a>
            <a class="btn btn-primary text-light"
               asp-page="/Assignments/Index"
               asp-route-id="@Model.Id"
               role="button">
                Assignments
            </a>
            <a class="btn btn-primary text-light"
               asp-page="/PendingAssignments/Index"
               asp-route-id="@Model.Id"
               role="button">
                Pending Assignments
            </a>
            <a class="btn btn-primary text-light"
               asp-page="/Questions/Index"
               asp-route-id="@Model.Id">
                Questions
            </a>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row text-center">
        @foreach (var student in await Model.GetStudents())
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @student.Email
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">
                            @student.Name
                        </h1>
                        <ul class="list-unstyled">
                            <li>
                                @student.StudentCourseClasses.Count Classes
                            </li>
                            <li>
                                @student.Submissions.Count Submissions
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            @if (await Model.IsPrevious())
            {
                <a asp-page="/CourseClasses/Details"
                   asp-route-id="@Model.Id"
                   asp-route-step="@(Model.Step - 1)">
                    <i class="fas fa-arrow-left"></i>
                    Previous
                </a>
            }
        </div>
        <div>
            @if (await Model.IsNext())
            {
                <a asp-page="/CourseClasses/Details"
                   asp-route-id="@Model.Id"
                   asp-route-step="@(Model.Step + 1)">
                    Next
                    <i class="fas fa-arrow-right"></i>
                </a>
            }
        </div>
    </div>
</div>